:root {
  --sound-hole-diameter: 400px;
}

html,
body {
  margin: 0;
  padding: 0;
  background: black;
}

svg.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  border-radius: 12px;
  outline-radius: 12px;
  outline-offset: -6px;
  outline: 1px solid black;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
  display: flex;
}

.message {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem 1rem 2rem ;
}

.message .splash {
  text-align: center;
}
.message .splash text {
  font-family: 'Style Script', cursive;
  letter-spacing: -0.7px;
  font-size: 3.9rem;
  fill: #F1B911;
  stroke: #533316;
  -webkit-text-fill-color: #F2C231;
}

/* 'Happy Birthday' */
.message .splash .top-rider {
  width: 50vw;
  padding-top: 1rem;
  margin-bottom: -34vw;
}
.message .splash .top-rider path {
  fill: transparent;
}

/* 'Betsy Rome' */
.message .splash .bottom-rider {
  width: 50vw;
  padding-top: 1rem;
  margin-bottom: -30vw;
  margin-left: -23%;
  margin-top: -5%;
}
.message .splash .bottom-rider path {
  fill: transparent;
  transform: scaleY(-1) translateY(-200px);
  filter: FlipV;
}
.message .splash .bottom-rider text {
  letter-spacing: 2.5px;
  font-size: 4.5rem;
}

/* 'Established 1954' */
.message .splash h3 {
  font-family: 'Abril Fatface', serif;
  font-size:3.5vw;
  color: #674221;
  margin-top: 1.5rem;
  margin-bottom: -0.75rem;
  height: 3rem;
}

.guitar {
  vertical-align: middle;
  margin-top: -100px;
  margin-left: 8vw;
}

.guitar .fretboard {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 230px;
  height: 53vh; 
  /* background: #150A06; */
  background-image: linear-gradient(
  90deg,
  hsl(16deg 56% 5%) 0%,
  hsl(15deg 56% 7%) 22%,
  hsl(16deg 59% 9%) 33%,
  hsl(15deg 59% 11%) 42%,
  hsl(16deg 61% 12%) 50%,
  hsl(15deg 59% 11%) 58%,
  hsl(16deg 59% 9%) 67%,
  hsl(15deg 56% 7%) 78%,
  hsl(16deg 56% 5%) 100%
);
  margin-left: 115px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  overflow: hidden;
}
.guitar .fretboard .board-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.guitar .strings {
  display: inline-block;
  height: 100%;
  cursor: pointer;
  margin-top: 100px;
  align: center;
  z-index: 2;
  position: relative;
  overflow-x: visible;
  margin-left: 107px;
}
.guitar .string {
  height: 100%;
  height: 100vh;
  cursor: pointer;
  float: left;
  width: 6px; /* string width */
  background-color: #ffc023;
  margin-left: 30px;
  align: center;
}
.guitar .string:hover {
  background-color: #803d1d;
}

.guitar .string.e-low-string {
  border-left: 1px solid #91653E;
  border-right: 1px solid #91653E;
  background-image: linear-gradient(
    90deg,
    hsl(24deg 50% 44%) 0%,
    hsl(29deg 56% 51%) 25%,
    hsl(33deg 63% 58%) 39%,
    hsl(37deg 70% 66%) 52%,
    hsl(34deg 63% 58%) 64%,
    hsl(31deg 56% 51%) 77%,
    hsl(28deg 50% 44%) 100%
  );
}

.guitar .string.a-string {
  width: 5.5px;
  border-left: 1px solid #91653E;
  border-right: 1px solid #91653E;
  background-image: linear-gradient(
    90deg,
    hsl(24deg 50% 44%) 0%,
    hsl(29deg 56% 51%) 25%,
    hsl(33deg 63% 58%) 39%,
    hsl(37deg 70% 66%) 52%,
    hsl(34deg 63% 58%) 64%,
    hsl(31deg 56% 51%) 77%,
    hsl(28deg 50% 44%) 100%
  );
}

.guitar .string.d-string {
  width: 5px;
  border-left: 1px solid #91653E;
  border-right: 1px solid #91653E;
  background-image: linear-gradient(
    90deg,
    hsl(24deg 50% 44%) 0%,
    hsl(29deg 56% 51%) 25%,
    hsl(33deg 63% 58%) 39%,
    hsl(37deg 70% 66%) 52%,
    hsl(34deg 63% 58%) 64%,
    hsl(31deg 56% 51%) 77%,
    hsl(28deg 50% 44%) 100%
  );
}

.guitar .string.g-string {
  width: 4px;
  border-left: 1px solid #91653E;
  border-right: 1px solid #91653E;
  background-image: linear-gradient(
    90deg,
    hsl(24deg 50% 44%) 0%,
    hsl(29deg 56% 51%) 25%,
    hsl(33deg 63% 58%) 39%,
    hsl(37deg 70% 66%) 52%,
    hsl(34deg 63% 58%) 64%,
    hsl(31deg 56% 51%) 77%,
    hsl(28deg 50% 44%) 100%
  );
}

.guitar .string.b-string {
  width: 4px;
  background-image: linear-gradient(
    90deg,
    hsl(25deg 24% 63%) 0%,
    hsl(25deg 25% 68%) 8%,
    hsl(26deg 27% 73%) 20%,
    hsl(25deg 29% 78%) 39%,
    hsl(27deg 31% 83%) 61%,
    hsl(28deg 28% 74%) 76%,
    hsl(26deg 26% 66%) 86%,
    hsl(27deg 24% 57%) 94%,
    hsl(26deg 21% 49%) 100%
  );
}

.guitar .string.e-high-string {
  width: 3px;
  background-image: linear-gradient(
    90deg,
    hsl(25deg 24% 63%) 0%,
    hsl(25deg 25% 68%) 8%,
    hsl(26deg 27% 73%) 20%,
    hsl(25deg 29% 78%) 39%,
    hsl(27deg 31% 83%) 61%,
    hsl(28deg 28% 74%) 76%,
    hsl(26deg 26% 66%) 86%,
    hsl(27deg 24% 57%) 94%,
    hsl(26deg 21% 49%) 100%
  );
  margin-right: 30px;
}

.guitar .sound-hole-rings {
  width: calc(var(--sound-hole-diameter) + 55px);
  height: calc(var(--sound-hole-diameter) + 55px);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #150A06;
  margin-top: -60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
top: 0;
margin-top: 53vh;
}
.guitar .sound-hole-rings .ring-1 {
  width: calc(var(--sound-hole-diameter) + 20px);
  height: calc(var(--sound-hole-diameter) + 20px);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 4px solid #bba382;
  outline: 1px solid #150A06;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.guitar .sound-hole-rings .ring-2 {
  width: calc(var(--sound-hole-diameter) + 12px);
  height: calc(var(--sound-hole-diameter) + 12px);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 4px;
  border: 1px solid #150A06;
  outline: 4px solid #bba382;
  display: flex;
  justify-content: center;
  align-items: center;
}
.guitar .sound-hole {
  width: var(--sound-hole-diameter);
  height: var(--sound-hole-diameter);
  background: #150a06;
  background-image: linear-gradient(
    45deg,
    hsl(16deg 56% 5%) 0%,
    hsl(17deg 41% 7%) 13%,
    hsl(17deg 34% 9%) 25%,
    hsl(16deg 33% 11%) 37%,
    hsl(16deg 33% 13%) 50%,
    hsl(17deg 33% 14%) 63%,
    hsl(17deg 34% 16%) 75%,
    hsl(18deg 35% 18%) 87%,
    hsl(19deg 35% 19%) 100%
  );
  border: 2px solid #150A06;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-top: 0px;
}

.guitar .pickguard {
  position: fixed;
  top: 0;
  margin-top: 52vh;
  margin-left: 1%;
  /* margin-top: -10vh; */
  margin-left: -100px;
  z-index: 1;
  /* bottom: -50%; */
  fill: #150A06;
}
